<!-- 8/16 -->
<h1>マイページ</h1>

<%= @customer.full_name %><br/>

<%= link_to "編集", edit_information_path %><br/>
<%= link_to "注文履歴", orders_path %><br/>
<%= link_to "配送先", shipping_addresses_path %><br/>