<div class="container">
    
    <!-- タイトル -->
    <div class="row mb-5 justify-content-center">
        <div class="display-3 font-weight-bold">お問合せ完了</div>
    </div>
    <!-- 文 -->
    <div class="mb-5">
        <p class="text-center h1">お問合せありがとうございました。</p>
        <p class="text-center h1">確認の後、２営業日以内に返信致します。</p>
    </div>
    <!-- リンク -->
    <div class="row mb-5 justify-content-center">
        <div class="col-sm-auto">
            <%= link_to "お問合せに戻る", new_contact_path, class: 'btn btn-lg btn-secondary' %>
        </div>
    </div>
    
</div>