<h1>問合せジャンル 編集ページ</h1>

<%= form_with model: @contact_genre, url: admin_contact_genre_path(@contact_genre.id), method: :patch do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "変更" %>
<% end %>