<div class="container">
  
    <!-- タイトル -->
    <div class="row mb-5 ml-1 justify-content-start">
        <div class="display-3 font-weight-bold text-warning">会員一覧</div>
    </div>
  
    <!-- テーブル -->
    <div class="container mb-5">
        <div class="row">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>会員ＩＤ</th>
                        <th>氏名</th>
                        <th>メールアドレス</th>
                        <th>ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <% @customers.each do |customer|%>
                        <tr>
                            <td><%= customer.id %></td>
                            <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
                            <td><%= customer.email %></td></td>
                            <td><%= customer.unsubscribe_flag ? "退会済" : "有効" %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
  
</div>