@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.autosizing-image {
    height: 250px;
    width: auto;
    object-fit: cover;
}

.display-2 {
    text-shadow: 1px 2px 3px #808080;
}