<div class="container">
    
    <div class="row mb-5">
        <div class="col-2">
            <!-- ジャンル検索作成予定 -->
        </div>
        <div class="col-10">
            <!-- タイトル -->
            <div class="row display-3 font-weight-bold">商品一覧</div>
            <div class="row d-flex flex-wrap">
                <% @items.each do |item| %>
                    <div class="card">
                        <%= image_tag item.image, width: '250'%>
                        <div class="card-body">
                            <p class="card-text"><%= item.name %></p>
                            <p class="card-text">¥<%= item.price %></p>
                        </div>
                    </div>
                <% end %>
            </div>
            
        </div>
    </div>
    
</div>





<% @items.each do |item| %>
    <%= link_to item.name, item_path(item.id) %>
<% end %>